/* HERO */
.ach-hero {
  background: linear-gradient(rgba(12, 36, 66, 0.9), rgba(12, 36, 66, 0.9)),
              url("/assets/achievements/hero.jpg") center/cover;
  padding: 100px 20px;
  text-align: center;
  color: #fff;
}

.ach-badge {
  background: #fbbc05;
  color: #0f2a44;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 600;
}

.ach-hero h1 {
  font-size: 42px;
  margin: 15px 0;
}

/* SECTION */
.achievement-section {
  padding: 80px 20px;
  background: #ffffff;
  border-bottom: 1px solid #eee;
}

.achievement-header {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.achievement-header h2 {
  color: #0f2a44;
  font-size: 32px;
  margin-bottom: 10px;
}

.achievement-header p {
  color: #5f6c85;
  font-size: 16px;
}

/* SLIDER */
.achievement-slider {
  margin-top: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.achievement-image {
  width: 75%;
  max-width: 900px;
  height: 420px;
  object-fit: cover;
  border-radius: 16px;
  border: 4px solid #fbbc05;
}

/* SLIDER BUTTONS */
.slide-btn {
  position: absolute;
  top:20%;
  background:transparent;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-size: 80px;
  cursor: pointer;
  color: #0f2a44;
}

.slide-btn.left {
  left: 5%;
}

.slide-btn.right {
  right: 5%;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .achievement-image {
    width: 100%;
    height: 260px;
  }

  .slider-btn.left {
    left: 10px;
  }

  .slider-btn.right {
    right: 10px;
  }
}
