/* ---------- HERO ---------- */
.clubs-hero {
  background: linear-gradient(rgba(10,40,80,.85), rgba(10,40,80,.85)),
              url("/assets/clubs/hero.jpg") center/cover;
  text-align: center;
  color: white;
  padding: 100px 20px;
}

.clubs-hero h1 {
  margin-top:40px;
  font-size: 40px;
  margin-bottom: 10px;
}

.clubs-hero p {
  max-width: 700px;
  margin: auto;
  opacity: 0.9;
}

/* ---------- ABOUT ---------- */
.clubs-about {
  padding: 80px 20px;
  text-align: center;
  line-height:1.7;
  background: #f8fafc;
}

.clubs-about h2 {
  color:#fbbc05;
  margin-bottom: 15px;
}

/* ---------- CLUB SECTIONS ---------- */
.club-section {
  display: flex;
  gap: 60px;
  align-items: center;
  padding: 80px 8%;
  background: rgba(255, 253, 228, 0.4);
}

.club-section.reverse {
  flex-direction: row-reverse;
}

.club-text {
  flex: 1;
}

.club-title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.club-icon {
  font-size: 30px;
}

.club-text h2 {
  color: #3572aa;
}

.club-text p {
  color: #3d3d3d;
  line-height: 1.7;
  margin-top: 10px;
  font-style: italic;
}

/* ---------- SLIDER ---------- */
.club-slider {
  position: relative;
  flex: 1;
}

.club-slider img {
  width: 100%;
  border-radius: 14px;
  border: 4px solid #fbbc05;
}

.slider-btn {
  position: absolute;
  top: 50%;
  margin-left: 20px;
  margin-right: 20px;
  transform: translateY(-50%);
  background:rgba(10,40,80,.4);
  color:rgb(238, 213, 161);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 70%;
  font-size: 22px;
  padding:1px;
  padding-bottom:4px;
  cursor: pointer;
}

.slider-btn:hover{
  box-shadow:1px 1px 8px white;
}

.slider-btn.left { left: -10px; }
.slider-btn.right { right: -10px; }

/* ---------- HOUSES ---------- */
.houses-section {
  padding: 80px 20px;
  text-align: center;
  background:rgba(196, 220, 250, 0.5);
}
.houses-section h2{
  color:#4c4635;
}

.houses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.house-card {
  padding: 30px;
  border-radius: 14px;
  color: white;
}

.house-card.red { background: #d32f2f; }
.house-card.blue { background: #1976d2; }
.house-card.green { background: #388e3c; }
.house-card.yellow { background: #fbbc05; color: #0f2a44; }

/* ---------- COMPETITIONS ---------- */
.competitions {
  padding: 80px 20px;
  text-align: center;
}

.competition-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  margin-top: 30px;
}

.competition-grid div {
  background: #f1f5f9;
  padding: 25px;
  border-radius: 12px;
  font-weight: 600;
}
