.gallery-page {
  background-color: #f8fafc;
}

/* HERO */

.gallery-hero {
  padding: 6rem 1.5rem 4rem;
  text-align: center;
  background-color: #eef2f7;
}

.gallery-badge {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  border-radius: 999px;
  background-color: #dbeafe;
  font-weight: 600;
  margin-bottom: 1rem;
}

.gallery-hero h1 {
  font-size: 3.2rem;
  margin-bottom: 1rem;
  color: #0f172a;
}

.gallery-hero p {
  max-width: 650px;
  margin: auto;
  font-size: 1.1rem;
  color: #475569;
}

/* FILTERS */

.gallery-filters {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 2.5rem 1rem;
  flex-wrap: wrap;
}

.gallery-filters button {
  padding: 0.6rem 1.4rem;
  border-radius: 999px;
  border: none;
  background-color: #b3d0f3;
  font-weight: 600;
  cursor: pointer;
}

.gallery-filters .active {
  background-color: #faef74;
  color: rgb(10, 11, 114);
}

/* GRID */

.gallery-grid {
  max-width: 1300px;
  margin: auto;
  padding: 0 1.5rem 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* CARD */

 .gallery-card {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  cursor: pointer;
}

.gallery-image {
  position: relative;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.1rem;
  color: #334155;
}

.gallery-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35); /* black film */
  opacity: 0;
  transition: opacity 0.3s ease;
}
.gallery-card:hover .gallery-image::after {
  opacity: 1;
}

.gallery-image span {
  position: relative;
  z-index: 2;
  transition: transform 0.3s ease;
}

.gallery-card:hover .gallery-image span {
  transform: translateY(-4px);
}


.modal-content {
  border-radius: 18px;
  height:auto;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    margin-bottom: 15px;
    padding-bottom: 0;
    border-radius: 15px;
    font-size:1.6rem;
    color:#faef74;
    font-weight: 600;
}

/* RESPONSIVE */

@media (max-width: 1000px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .gallery-hero h1 {
    font-size: 2.4rem;
  }
}
