.programs-hero {
  background: #1f3a68;
  color: #fff;
  text-align: center;
  padding: 90px 10px;
  margin-top:50px;
  line-height:2.6;
}

.programs-hero h1 {
  font-size: 48px;
  font-weight: 700;
}

.program-tag {
  background: rgba(251, 189, 2, 0.4);
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px; 
  color:#f4b400;
  font-weight: 600;
}

.program-badge {
  display: inline-block;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 20px;
  background: rgba(99, 137, 199, 0.2); /* soft blue tint */
  color: #0f2a55;
  border: 1px solid rgba(15, 42, 85, 0.15);
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}


.program-section {
  padding: 80px 0;
  background: #f8f7f4;
}

.program-section.alt {
  background: #ffffff;
}

.program-container {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 60px;
}

.program-container.reverse {
  flex-direction: row-reverse;
}

.program-image img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.program-content h2 {
  font-size: 36px;
  margin: 15px 0;
  color: #e7b901;
}

.program-content ul {
  padding-left: 20px;
}

.program-content li {
  margin-bottom: 8px;
}

.apply-btn {
  margin-top: 20px;
  background:transparent;
  border:2px solid #0f2a55 !important;
  color: #0f2a55;
  padding: 8px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}


.apply-btn:hover {
  color: #417bda;
  border:2px solid #417bda !important;
}

@media(max-width: 768px) {
  .program-container {
    flex-direction: column;
  }
}
